<launch>
    <arg name="with_camera" default="true" />
    <arg name="with_chest_camera" default="true" />
    <arg name="inverted" default="no" />

    <include file="$(find strands_linda)/launch/linda-base.launch"/>
    <include file="$(find strands_linda)/launch/cameras.launch">
        <arg name="with_camera" default="true" />
        <arg name="with_chest_camera" default="true" />
        <arg name="inverted" default="no" />
    </include>

    <!-- Additional nodes -->
        <include file="$(find scitos_docking)/launch/charging_mux.launch"/>
        <include file="$(find scitos_ptu_sweep)/launch/ptu_sweep.launch"/>


</launch>
