<launch>
	<arg name="machine" default="localhost" />
	<arg name="user" default="" />

	<machine name="$(arg machine)" address="$(arg machine)" env-loader="/opt/strands/strands_catkin_ws/devel/env.sh" user="$(arg user)" default="true"/>

    <node name="set_mondev" pkg="linda_utils" type="set_mondev.sh" />

	<!-- STRANDS Core -->
	<include file="$(find scitos_bringup)/launch/strands_core.launch" >
	    <arg name="machine"  value="$(arg machine)"/>
	    <arg name="user"  value="$(arg user)"/>
	</include>


</launch>
