<launch>
	<include file="$(find scitos_mira)/launch/scitos_mira.launch" />
	<include file="$(find strands_webtools)/webtools.launch" />
	<include file="$(find scitos_teleop)/launch/teleop_joystick.launch" />
	<include file="$(find ros_mary_tts)/launch/ros_mary.launch" />    
        <include file="$(find flir_pantilt_d46)/launch/ptu46.launch" />
</launch>
