<launch>
    <arg name="machine" default="scitosstrands" />
    <arg name="user" default="hydro-default" />
    <arg name="laser" default="/dev/laser" />

    <arg name="with_mux" default="true" />
    <arg name="chest_camera" default="true" />
    <arg name="chest_ip" default="scitosstrands" />
    <arg name="head_camera" default="true" />
    <arg name="head_ip" default="strands-sidekick" />

    <!--machine name="$(arg machine)" address="$(arg machine)" env-loader="/opt/strands/strands_catkin_ws/devel/env.sh" user="$(arg user)" default="true"/ -->

    <machine name="$(arg machine)" address="$(arg machine)" env-loader="/home/hydro-default/catkin_ws/devel/env.sh" user="$(arg user)" default="true"/>

    <!-- STRANDS Robot -->
    <include file="$(find scitos_bringup)/launch/strands_robot.launch" >
        <arg name="machine"  value="$(arg machine)"/>
        <arg name="user"  value="$(arg user)"/>
        <arg name="laser" value="$(arg laser)"/>
        <arg name="scitos_config" value="$(arg scitos_config)"/>
        <arg name="with_mux" value="$(arg with_mux)" />
        <arg name="chest_camera" value="$(arg chest_camera)" />
        <arg name="chest_ip" value="$(arg chest_ip)" />
        <arg name="head_camera" value="$(arg head_camera)" />
        <arg name="head_ip" value="$(arg head_ip)" />
    </include>

    <node name="odometry_mileage" pkg="odometry_mileage" type="odometry_mileage"/>

</launch>
