<launch>
    <arg name="machine" default="strands-sidekick" />
    <arg name="user" default="hydro-default" />
    <arg name="camera_topic" default="/head_xtion/depth_registered/points" />

    <machine name="$(arg machine)" address="$(arg machine)" env-loader="/opt/strands/strands_catkin_ws/devel/env.sh" user="$(arg user)" default="true"/>

    <!-- recognition service -->
    <include file="$(find singleview_object_recognizer)/launch/recognition_service.launch" >
        <arg name="machine" value="$(arg machine)"/>
        <arg name="user" value="$(arg user)"/>
        <arg name="models_dir" value="/opt/strands/objects/models/full_models" />
        <arg name="training_dir_sift" value="/opt/strands/objects/models/training_sift" />
        <arg name="recognizer_structure_sift" value="/opt/strands/objects/models/modelling_ouput" />
        <arg name="chop_z" value="2.5" />
    </include>

    <!-- action server to check object for object presence -->
    <node pkg="singleview_object_recognizer" type="checkObjectPresence" name="checkObjectPresence" output="screen">
	    <param name="camera_topic" value="$(arg camera_topic)" type="string"/>
    </node>

</launch>
